.text-amarelo{
    color:$yellow;
    font-size: 16px;
}

.btn-light{
    color: $darkblue;
    background-color: #d4e5f5;
    border-color: #d4e5f5;
    width: 150px;
    height: 50px;
    font-weight: 600;
    padding-top:10px;
}